* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --ff-heading: "Staatliches", cursive;
  --ff-texting: "Palanquin", sans-serif;

  --bg-primary: hsla(218, 17%, 62%, 1);
  --bg-secondary: hsla(233, 100%, 97%, 1);
  --bg-details: hsla(275, 18%, 79%, 1);
  --bg-titles: hsla(312, 91%, 96%, 1);

  --fc-texting: hsla(274, 84%, 12%, 1);
  --fc-titles: hsla(232, 17%, 35%, 1);
  --fc-header: hsla(0, 0%, 100%, 1);

  font-size: 62.5%;
  --fs-body: 2rem;
  --fs-header: 4rem;
}

body {
  background-color: var(--bg-secondary);
}

.page {
  margin: 0 auto;
  max-width: 38.4rem;

  display: grid;
  gap: 3.6rem;
}

header {
  background-color: var(--bg-primary);

  padding-top: 3.4rem;
  padding-bottom: 2.9rem;

  text-align: center;
}

header img {
  padding-bottom: 3.2rem;
}

header h1 {
  font-family: var(--ff-heading);
  font-size: var(--fs-header);
  line-height: 3.4rem;
  font-weight: 400;

  color: var(--fc-header);
  background-color: var(--bg-details);

  letter-spacing: 0.05em;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

main {
  font-size: var(--fs-body);

  padding: 1.4rem 3.2rem 6rem;
}

main p {
  font-family: var(--ff-texting);
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5rem;
  color: var(--fc-texting);

  padding-bottom: 6.3rem;
  padding-top: 1.4rem;

  text-align: center;
}

.card {
  position: relative;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.card img {
  width: 32rem;
  object-fit: cover;

  border-radius: 2rem;

  animation-name: downtop;
  animation-duration: 900ms;
  animation-timing-function: ease;
}

.card img:hover {
  opacity: calc(0.7);
  transform: scale(1.05);
  transition-timing-function: ease;
}

.card h2 {
  font-family: var(--ff-heading);
  font-size: var(--fs-body);
  font-weight: 400;
  line-height: 3.4rem;

  letter-spacing: 0.05em;

  color: var(--fc-titles);
  background-color: var(--bg-titles);

  position: absolute;
  top: 1.6rem;
  right: 1.6rem;

  padding: 0 2.4rem;
  height: 3.5rem;
  border-radius: 2rem;

  text-align: center;

  animation-name: topdown;
  animation-duration: 900ms;
  animation-timing-function: ease;
  animation-delay: 200ms;
  animation-fill-mode: backwards;
}

@keyframes downtop {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes topdown {
  0% {
    opacity: 0;
    transform: translateY(-30);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
